.video_box {
  display: grid;
  grid-template-columns: 1fr 30%;
  margin: 1.5rem auto;
  width: 90%;

  .video_container {
    video {
      width: 100%;
    }
  
    .video_details {
      margin: 1rem 0;

      .video_main_details {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        border-bottom: 1px solid rgba(119, 119, 119, 0.438);
        padding: 1.4rem 0;

        &__keywords_box {
          p {
            color: rgb(62, 166, 255);
            font-size: 1.2rem;
          }
        }

        &__video_title {
          p {
            color: #fff;
            font-size: 1.9rem;
            line-height: 2.6rem;
          }
        }

        &__video_sub_details {
          display: flex;
          justify-content: space-between;
          &__stats {
            display: flex;
            align-items: center;
            gap: 1rem;

            div {
              p {
                color: rgb(170, 170, 170);
                font-size: 1.4rem;
                line-height: 2rem;
              }
            }
          }

          &__actions {
            display: flex;
            gap: 2rem;

            button {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: .5rem;
              background-color: transparent;
              border: none;
              color: #fff;
              font-size: 1.6rem;
              text-transform: uppercase;
              font-weight: 500;
              cursor: pointer;
            }
          }
        }
      }

      .video_an_author_details {
        margin: 1rem 0;
        padding: 1rem 0;
        border-bottom: 1px solid rgba(119, 119, 119, 0.438);
        &__author {
          display: grid;
          grid-template-columns: 5% 20% 1fr;
          gap: 1rem;

          &__profile_pic {
            img {
              border-radius: 100%;
              width: 100%;
            }
          }

          &__details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: .6rem;

            &__name {
              color: #fff;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 2rem;
            }

            &__subscribers {
              color: rgb(170, 170, 170);
              font-size: 1.2rem;
              line-height: 1.8rem;
            }
          }

          &__actions {
            display: flex;
            align-items: center;
            justify-content: flex-end;
          }
        }

        &__description {
          margin: 1.5rem 0;
          display: grid;
          grid-template-columns: 5% 1fr;
          gap: 1rem;

          &__content {
            p {
              color: #fff;
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .video_box {
    grid-template-columns: 1fr;
  
    .video_container {
      .video_details {
        .video_main_details {
          &__video_sub_details {
            flex-direction: column;
          }
        }
  
        .video_an_author_details {
          &__author {
            display: flex;
          }
        }
      }
    }
  }
} 